{% extends 'sceleton.html' %}

{% load i18n custom_tags %}

{% block content %}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">{% trans 'New account' %} </h2>

                    <p class="lead">{% trans "Aren't registered yet?" %}</p>
                    <p>{% trans 'It will take not more then a few minutes and will give you the possibility to make super favorable orders!' %}</p>
                    <hr>

                    <form action="{% url 'user:custom_signup' %}" method="post"
                          data-get-warehouses-url="{% url 'user:get_warehouses' %}" id="registration-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                {{ field|addcss:"form-control" }}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div id="warehouse-helper">
                            <div class="alert alert-info">
                                {% trans 'Please fill the city field to get available warehouses' %}
                            </div>
                        </div>
                        <button class="btn btn-default">{% trans 'Register' %}</button>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">{% trans 'Login' %} </h2>

                    <p class="lead">{% trans 'Already registered?' %} </p>
                    <p class="text-muted">
                        {% blocktrans %}
                            Please log in under your account ot be able to make super favorable orders
                        {% endblocktrans %}
                    </p>

                    <hr>
                    {{ login_form.non_field_errors }}
                    <form action="{% url 'account_login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ login_form.login.id_for_label }}">{% trans 'Email' %}</label>
                            <input type="text" class="form-control" name="{{ login_form.login.name }}" id="{{ login_form.login.auto_id }}">
                            {% for error in login_form.email.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="{{ login_form.password.id_for_label }}">{% trans 'Password' %}</label>
                            <input type="password" class="form-control" name="{{ login_form.password.name }}" id="{{ login_form.password.auto_id }}">
                            {% for error in login_form.password.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-default">{% trans 'Login' %}</button>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
{% endblock content %}